<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">
</head>
<body class="bg-slate-50 text-slate-800 font-sans p-8">
    <div class="max-w-3xl mx-auto">
        <main class="prose prose-lg">
            {{ content | safe }}
        </main>
    </div>
</body>
</html>