/* src/assets/css/index.css */
@import 'tailwindcss';

html {
    -webkit-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms;
}

.prose {
  @apply leading-loose;
}

.prose p {
  @apply mb-8;
}

/* Dark mode styles */
.dark body {
    @apply bg-slate-900 text-slate-200;
    background-color: #1E1E1E; /* Softer dark background */
    color: #FFFFFF; /* Brighter text for better readability */
}

.dark header {
    @apply bg-slate-900 shadow-slate-800;
}

.dark a {
    @apply text-slate-200;
    color: #BB86FC; /* Light purple for links */
}

.dark a:hover {
    @apply text-teal-500;
}

.dark .prose a {
    @apply text-teal-500;
}

.dark .prose a:hover {
    @apply text-teal-400;
}

.dark button {
    background-color: #3700B3; /* Dark purple for buttons */
    color: #FFFFFF; /* White text for buttons */
}
